@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-bg: var(--color-zinc-950);
  --color-surface: var(--color-gray-950);
  --color-border: var(--color-gray-900);
  --color-text: var(--color-gray-300);
  --color-dim: var(--color-gray-700);
  --color-bright: var(--color-white);
  --color-accent: var(--color-teal-400);
  --color-accent2: var(--color-rose-400);
  --color-blue: var(--color-blue-400);
  --color-yellow: var(--color-yellow-300);

  --font-family-mono: var(--font-mono);
}

@import "./base.css";
@import "./panels.css";
